html {
    box-sizing: border-box;
    font-size: 62.5%; /** reset para rems - 62.5% = 10px de 16px**/ 
}
/*, *:before, *:after{
    box-sizing: inherit; /*Estilo modificado por santiago mateus
}

/** Globales **/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
/*img{
    max-width: 70%; /**tamaño de imagen modificado por santiago mateus*/
    
}

/** Utilidades **/

.centrar-texto {
    text-align: center;
}
.contenido-centrado{
    max-width: 900px;
}
.boton {
    font-size: 1.5rem;
    padding: 10px 20px;
    width: 13rem;
    height: 4.5rem;
    border-radius: 2rem;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: #ffffff;
}

.verde {
    background-color: rgba(38, 160, 36, 0.88);
}
.verde:hover{
    background-color: rgba(44, 176, 41, 0.880);
    cursor: pointer;
}
.azul{
    background-color: #0990C2;
}
.azul:hover{
    background-color: #249cc7;
    cursor: pointer;
}
.rojo{
    background-color: #B04529;
}
.rojo:hover{
    background-color: #aa3a1d;
    cursor: pointer;
}

/** ------ inicio de sesion ------**/
.ingresar{
    width: 80%;
    padding: 3rem 3rem;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    flex: 1;
}
.ingresar-label{
    font-weight: 700;
    display: block;
    padding: 1rem 0;
    color: #ffffff;
    font-size: 1.5rem;
    padding-left: 10px;
}
.ingresar-input{
    padding: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: #130d0d;
    text-align-last: center;
    font-family:sans-serif; 
}
.error, #error{
    /* background-color: #e01f1f; */
    text-align: center;
    color: #e01f1f;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.titulo-login {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    position: relative;
    z-index: 1;
    flex: 1;
}
.contenido{
    background-image: url(../img/people.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 65rem;
    z-index: 1;
    flex: 1;
}
.contenido::after{
    content: '';
    background-color: rgba(0,0,0,.3);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.enlace a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}


/* ---- barra navegacion ----- */

.site-header{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: #F5520B;
}

/*.logo-sena{
    width: 200px;
    
    
}


/* ------ body ----- */

.titulo{
    margin-top: 35px ;
    font-size: 25px;
}
.busqueda{
    display: flex;
    justify-content: space-around;
    padding: 0 80px;
    margin: 40px 0;
}
@media(max-width: 700px){
    
    .busqueda{
        display: block;
        
    }
    .busqueda-boton{
        margin: 20px 0;
    }
}

.titulo-tabla{
    color: #ffffff;
    background-color: #1CA2A2;
}
.busqueda-label{
    font-size: 18px;  
}
.busqueda-input{
    font-size: 18px;
    border-radius: 10px;
    height: 35px;
    border: 1px solid #5796F3;
}

.btn{
    font-size: 1.5rem;
    padding: 10px 20px;
    width: 13rem;
    height: 35px;
    border-radius: 0.6rem;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
}

.tabla-info{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    font-size: 20px;
    border-collapse: collapse;
}
.tabla-info td, .tabla-info th{
    height: 60px;
    /* padding: 20px 0; */
}
.tabla-info td{
    background-color: #F9F9F9;
}

/*--- tabla responsive ----*/
@media(max-width: 700px){
    .titulo-tabla{
        display: none;
    }
    .tabla-info, .tabla-info tbody, .tabla-info tr, .tabla-info td{
        display: block;
        width: 100%
    }
    .tabla-info tr{
        margin-bottom:15px
    }
    .tabla-info td{
        padding-left: 50%;
        text-align: center;
        position: relative;
        align-items: center;
    }
    .tabla-info td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        padding-top: 15px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        background-color: #1CA2A2;
    }
    
}
.scroll{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0 82px;
}
@media(max-width: 800px){
    .scroll{
        padding: 0;
    }
}
@media(max-width: 450px){
    .scroll{
        padding: 0 ;
        display: block;
    
    }
    .ll{
        margin: 20px 0;
    }
}


/** ------ Footer ------ **/

.footer{
    background-color: #F5520B;
    padding: 15px 0;
    
}
.footer p{
    color: #ffffff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}



/**----- ventana modal ------- **/
.modal-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    transition: all 600ms ease;
    
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.modal{
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* transform: translateY(-30%); */
}

.show{
    pointer-events: auto;
    opacity: 1;
}
.btn-cerrar{
    margin-left: 450px;
}
/* #open:checked {
    transform: translateY(0%); 
}*/
.cerrar{
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    border-radius: 0.6rem;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
}
.conten-form{
    width: 500px;
    padding: 16px;
    margin: auto;
   
}
.cont-label{
    display: inline-block;
    font-weight: 400;
    padding: 1rem 0;
    font-size: 1.5rem;
    padding-left: 10px;
    width: 200px;
    font-family:sans-serif; 
}
.cont-input{
    display: inline-block;
    padding: 5px;
    width: 260px;
    border-radius: 2rem;
    border: 1px solid rgb(56, 151, 180);
    font-size: 1.5rem;
    text-align-last: center;
    font-family:sans-serif; 
    margin: 0 0 10px 0;
}
.cont-textarea{
    width: 480px;
    height: 160px;
    margin-bottom: 20px ;
    border: 1px solid rgb(56, 151, 180);
    border-radius: 1rem;
}

/** menu vertical
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.boton-menu{
    padding: 20px;
    display: none;
    background-color: #0d2c44;
    color: black;

}

.boton-menu .icono{
    float: right;
}

.contenedor-menu{
    width: 20%;
    min-width: 300px;
    margin: 50px;
    display: inline-block;
    line-height: 18px;
    float: left;
    
}

.contenedor-menu .menu{
    width: 100%;

}

.contenedor-menu ul{
    list-style: none;
    font-size: 15px;
    
}

.contenedor-menu .menu li a{
    color: #494949;
    display: block;
    padding: 15px 20px;
    background-color: #e9e9e9;
}

.contenedor-menu .menu li a:hover{
    background-color: #1a95d5;
    color: #fff;
}

.contenedor-menu .menu .icono{
    font-size: 15px;
    line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda{
    float: left;
    margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha{
    float: right;
    margin-left: 10px;
}

.contenedor-menu .menu ul{
    display: none;
}


.contenedor-menu .menu ul li a{
    background-color: #424242;
    color: #e9e9e9;
}

.contenedor-menu .menu .activado > a{
    background-color: #1a95d5;
    color: #fff;
}

@media screen and (max-width: 450px) {
    body{
            padding-top: 80px;
    }

    .contenedor-menu{
        margin:0;
        width: 100%;
        position: fixed;
        z-index: 1000;
    }

    .boton-menu{
        display: block;
    }

    .contenedor-menu .menu{
        display: none;
    }

}*/

/**Menu Horizontal*/
body{
    margin: 0;
    font-family: sans-serif;
}


header{
    width: 100%;
    background: #F5520B;
    padding-bottom: 10px;
}

#btn-menu{
    display: none;
}

.icon{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 25px;
    display: none;



}

.icon:hover{
    cursor: pointer;
    
}

.Menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;

}

.Menu li:hover{
    background: rgba(0,0,0,0.3);
}

.Menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

@media (max-width:450px) {
    .icon{
        display: block;
        
        
    }
    .Menu{
        position: absolute;
        background: #F5520B;
        width: 70%;
        margin-left: -80%;
       
    }
    .Menu ul{
        flex-direction: column;
        z-index: 1000;
        padding-bottom: 1px;
    }
    #btn-menu:checked ~ .Menu {
        margin: 0;
    }
}

